<ion-content>
  <div class="hero"></div>

  <ion-grid>
    <ion-row>
      <ion-col
        size="12"
        size-md="4"
        offset-xl="3"
        size-xl="2"
        class="ion-text-center"
      >
        <ion-icon name="location" color="primary"></ion-icon>
        <ion-text color="dark">1. Selecciona tu ubicación </ion-text>
        <ion-text color="medium">
          Ingresa tu ubicación o dejanos seleccionar tu posición
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="fast-food" color="primary"></ion-icon>
        <ion-text color="dark">2. Selecciona Comida </ion-text>
        <ion-text color="medium">
          ¿Qué te gustaría hoy? Selecciona de nuestro Menú
        </ion-text>
      </ion-col>
      <ion-col size="12" size-md="4" size-xl="2" class="ion-text-center">
        <ion-icon name="card" color="primary"></ion-icon>
        <ion-text color="dark"> 3.Pago y Delivery </ion-text>
        <ion-text color="medium"
          >Paga online y recibe tu orden en la casita bb
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
